{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <div>
      <!--returns name by pulling from todo_detail context which pulls from TodosList model-->
      <h1>{{ todo_detail.name }}</h1>
      <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
      <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <!--iterate over a associated list to find a single associated - items associated with details, item manager-->
          {% for item in todo_detail.items.all %}
            <tr>
              <td>
                <!--{ url 'function you want to pull data from' + id } pull by instance of property name-->
                <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
              </td>
              <td>{{ item.due_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>

</body>
</html>
